
body
{
  padding: 0px;
  margin:0;
}
div{
  margin:0;
}

.gameScreen
{
  
  background-image: url("../img/forestV6.png");
  /* min-width: 100px; */
  height: 75vh;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: bottom 0px right 0px;
}

.actionScreen
{
  
  /* background-color: blueviolet; */
  width: 100vw;
  height: 25vh;
  display: flex;
}

#scroll
{
  
  background-image: url("../img/scroll.png");
  background-size:cover;
  background-position: 50% top 50% right;
  overflow-y: scroll;
  padding: 5px;
  text-align: center;
  width: 26vw;
}

.combatLog{
  color:red;
  word-wrap: break-word;
}

/* .miScreen
{
  display: inline;
} */

#choice
{
  background-color:yellow;
  width: 37vw;
  border: 1px black solid;
}

ul
{
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  list-style: none;
  padding: 0;
}
li
{
  display: inline;
  height: 9vh;
}

.fullWidth
{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
}

.block_input_inline
{
  display: inline-block;
}
.input-block
{
  display: block;
}

.ul-block li
{
  display: block;
}

.avatar img
{
  width: auto;
  height: 75vh;
  margin: auto;

}

.avatar
{
  background-color: blue;
}

.carac
{
  background-color:red;
}

@keyframes pasBo{
  100%{background-position:-240px; }
}

#pasBo
{
  height: 117px;
  width: 120px;
  background-image: url("../img/Mechant_2steps.png");
  animation: pasBo 0.8s steps(2) infinite;
}

.mana::-moz-progress-bar
{
  background-color:blueviolet;
  border-radius: 2px;
}
.health::-moz-progress-bar
{
  background-color: rgb(31, 211, 31);
  content: attr(data-label);
}