@keyframes ghost{
  100%{background-position:-240px; }
}

#Ghost
{
  height: 117px;
  width: 120px;
  background-image: url("../img/Mechant_2steps.png");
  animation: ghost 0.8s steps(2) infinite;
  position:absolute;
  left:50%;
  top: 25%;
}



@keyframes mecabird{
  100%{background-position:-2144px; }
}

#Mecabird
{
  height: 224px;
  width: 268px;
  background-image: url("../img/mecabird.png");
  animation: mecabird 0.8s steps(8) infinite;
  position:absolute;
  left:25%;
  top: 15%;
}

@keyframes wizard{
  100%{background-position:-864px; }
}

#Little-Mage
{
  height: 250px;
  width: 140px;
  background-image: url("../img/ghost-wizard-full.png");
  animation: wizard 0.8s steps(6) infinite;
  transform: scaleX(-1);
  position:absolute;
  left:50%;
  top: 25%;
}

@keyframes dead{
  100%{background-position:-864px; }
}

#dead
{
  height: 250px;
  width: 140px;
  background-image: url("../img/ghost-wizard-full.png");
  animation: dead 0.8s steps(6);
  transform: scaleX(-1);
  position:absolute;
  left:50%;
  top: 25%;
}

